body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

/* Search Nav*/
.search-nav{
    display: flex;
    justify-content: right;
    align-items: right;
}
.search{
    display: inline-block;
    vertical-align: middle;
}
.bi-search{
    height: 26px;
}

/* Navigation */
nav{
    float: right;
    margin: 0;
    overflow:hidden;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 10px;
    font-weight: bold;
    font-size: medium;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    
}

nav > ul > li > a{
    color: #ccc;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
    
}

nav > ul > li > a:hover{
    color: orange;
    text-decoration: none;
    
}

.logo-img{
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}
.nav-div{
   background:#333;
   overflow: hidden;
}

.margin10{
    margin:10px;
}
.buttons {
    display: inline-block;     
}

.btn-primary, .btn-primary:focus, btn-primary:active{
    background:#333;
    border-color:#333;
    box-shadow: none;
    outline: 0;
    -webkit-box-shadow: none;
    margin: 0 0 5px 0;
    min-width: 150px;
}

.btn-primary:hover, .btn-primary:visited{
    background: orange;
    border-color: orange;
}

.btn-secondary, .btn-secondary:focus, btn-secondary:active{
    background:orange;
    border-color:orange;
    box-shadow: none;
    outline: 0;
    -webkit-box-shadow: none;
    margin: 0 0 5px 0;
}

.btn-secondary:hover, .btn-secondary:visited{
    color: orange;
    background-color: #fff;
}

a:hover{
    text-decoration: none;
}
li, ul {
    list-style-type: none;
    margin:0 0 0 10px;
    padding:0;
}
hr {
    border: none;
    height: 0px;
    box-shadow: 0 0 2px 1px #333;
    max-width: 80%;
    /* Set the hr color */
    color: #999; /* old IE */
    background-color: #999; /* Modern Browsers */
}

footer{
    margin-top: 80px;
}
.button-group-right{
    float: right;
}

@media print { 
    @page { margin: 0; }
    body { margin: 1.6cm; }
    header { 
        display: none!important;
    }
    footer { 
        display: none!important;
    }
    
}

@media (min-width: 320px) and (max-width: 767px) {

    .button-group{
        float: none;
        display: block;
        margin: auto;
        width: 100%;
        padding: 10px;
    }
    .btn-primary, .buttons{
        display: block;
        width:100%;
    }
    
}
