{% extends "base.html" %}

{% block content %}
    <h1>Orders: {{ key }} </h1>
    <div>
        <a href="{% url 'orders:customer' %}"><button class="btn btn-primary margin10" type="button">Start Order</button></a>
    </div>
    {% if order_list %}    
        <table class="table table-striped ">
            <thead>
            <tr class="thead-light">
                <th scope="col">Order #</th>
                <th scope="col">Customer</th>
                <th scope="col">Processing Paid</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for order in order_list %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.process_paid }}</td>
                    <td class="d-flex justify-content-end"><a href="{% url 'orders:view_order' order.id %}"><button class="btn btn-primary btn-sm">View Order</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No orders in the database that match</h4>
    {% endif %}
{% endblock %}

    {% block footer %}
    {% if sausagebutton %}
    <div class="container">
        <h3>WARNING: Only export on sausage computer</h3>
        <a href="{% url 'orders:export' %}"><button class="btn btn-primary margin10" type="button">Export Sausage Order</button></a>
    </div>
    {% endif %}
    {% endblock %}

