{% extends "base.html" %}

{% block content %}
    <h1>Order# {{ order.id }}</h1>
    {% if order %}
        <table class="table table-striped">
            <tr>
              <th>Customer Name</th>
              <th>Tag Number</th>
              <th>Processing Paid</th>
            </tr>
            <tr>
                <td>{{ order.customer }}</td>
                <td>{{ order.tag_number }}</td>
                <td>{{ order.process_paid }}</td>
            </tr>
          </table>
          <div>
            <a href="{% url 'orders:edit_order' order.id %}"><button class="btn btn-primary" type="button">Edit Order</button></a>
        </div>
    {% else %}
        <p>There are no orders with that order id</p>
    {% endif %}
    
{% endblock %}