{% extends "base.html" %}
{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="d-flex justify-content-center" style="margin: 100px 0 0 0;">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center"><input type="submit" class="btn btn-primary" value="Login" /></div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}